<div class="footer py-3 mt-3">
    <div class="container">
        <span class="text-muted">
            <a href="instagram.com/teknobol">Bu site Emirhan Taşçı tarafından TeknoBol için yapılmıştır.</a>

        </span>
    </div>
</div>